[submodule "discrete_mathematics_winter_2019/sources/HSE-FCS-AMIS-DS-Year-2-Colloq"]
	path = discrete_mathematics_winter_2019/sources/HSE-FCS-AMIS-DS-Year-2-Colloq
	url = https://github.com/vporyadke/HSE-FCS-AMIS-DS-Year-2-Colloq
